---
//Henter getStaticPaths funktionen ned
export async function getStaticPaths() {
  //Lav variablen "url" med vores URL fra supabase
  const url = "https://sjogjgnnezgfpkahworr.supabase.co/rest/v1/piloscph_produkter";

  //Lav variablen "api" med vores api nøgle
  const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqb2dqZ25uZXpnZnBrYWh3b3JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTUwNTQsImV4cCI6MTk5OTk3MTA1NH0.vWMUEXcwFWRZ1s2ukS1uPY9qj2Rglhz-eEeRLppRxt0";

  //Lav variablen "data" som venter på url fetchet med GET metode
  //API nøgle godkener adgang
  const data = await fetch(url, {
    method: "GET",
    headers: {
      apikey: api,
    },
  }).then((response) => response.json());
  //Dataen bliver hentet som JSON-fil

  //
  const pagesGenerate = data.map((oneProduct) => {
    return {
      params: { slug: oneProduct.slug },
      props: { mug: oneProduct },
    };
  });
  console.log(data);
  return pagesGenerate;
}

const { mug } = Astro.props;

//Lav variablen "url" med vores URL fra supabase
const url = "https://sjogjgnnezgfpkahworr.supabase.co/rest/v1/piloscph_produkter?limit=3";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqb2dqZ25uZXpnZnBrYWh3b3JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTUwNTQsImV4cCI6MTk5OTk3MTA1NH0.vWMUEXcwFWRZ1s2ukS1uPY9qj2Rglhz-eEeRLppRxt0";

const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());

import Mainlayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Card from "../../components/Card.astro";
---

<Mainlayout title="Produkter">
  <section class="produktet">
    <p class="breadcrumb"><a href="/kategori">Alle produkter</a> / <a href="/category/mugs">Mugs</a> / <span>{mug.name}</span></p>
    <div class="product grid_1-1">
      <div class="">
        <img src={`/images/${mug.image}`} alt="Produktbillede" />
      </div>
      <div class="tekst">
        <h1>{mug.name}</h1>
        <p>{mug.price} DKK</p>
        <p>inkl. moms</p>
        <h2>Information om produktet</h2>
        <p class="tekst1">{mug.description}</p>
        <form action="antal">
          <label for="antal">Antal</label>
          <select name="antal" id="antal">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br />
          <div class="button">
            <Button variant="secondary">Tilføj til kurven</Button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="andreProdukter">
    <h2>Andre produkter til din smag</h2>
    <div class="grid_3-1">
      {data.map((mug) => <Card image={`/images/${mug.image}`} name={mug.name} price={mug.price} slug={mug.slug} />)}
    </div>
  </section>
</Mainlayout>

<style>
  .produktet {
    margin-top: 200px;
  }

  section {
    max-width: 90%;
    margin-inline: auto;

    margin-top: 100px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  h1 {
    margin-bottom: 5%;
  }

  h2 {
    margin-top: 10%;
    margin-bottom: 1.5%;
  }

  .breadcrumb {
    text-align: center;
  }

  .breadcrumb a {
    text-transform: uppercase;
    color: var(--dark-brown);
    font-size: var(--font-p);
  }

  .breadcrumb span {
    text-transform: uppercase;
    font-family: "NeueHaasMedium", sans-serif;
    font-weight: 800;
    font-size: var(--font-p);
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 10%;
  }

  .product {
    margin-top: 100px;
  }

  form {
    margin-top: 10%;

    display: flex;
    flex-direction: column;
  }

  form select {
    width: 36%;
    padding-block: 1.5%;
    border: 0.5px solid #51473d;
    font-size: var(--font-p);

    text-align: center;
    margin-bottom: 2%;
  }

  .tekst1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  .andreProdukter {
    margin-top: 100px;
  }

  .grid_3-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10%;
  }

  @media (min-width: 1300px) {
    img {
      width: 110%;
    }
  }

  @media (max-width: 1200px) {
    .grid_1-1 {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 2fr;
      gap: 5%;
    }
  }

  @media (max-width: 400px) {
    .produktet {
      margin-top: 100px;
    }
    section {
      margin-top: 70px;
    }

    .tekst1 {
      grid-template-columns: 1fr;
    }

    .grid_1-1 {
      grid-template-rows: 2fr 3fr;
    }

    .lemon img {
      height: auto;
    }

    .vase {
      display: none;
    }

    .bowl {
      display: none;
    }
  }
</style>

<!-- id: 1,
created_at: '2023-05-20T14:17:10+00:00',
name: 'Grey mug with dimples',
price: 245,
description: 'Kopperne fås i tre forskellige farvesammensætninger og med fordybninger eller hank, så de passer ind i ethvert hjem.\n' +
  '\n' +
  'Produktet tåler opvaskemaskine og mikrobølgeovn.',
image: 'mug_grey.webp',
tags: 'mug',
slug: 'grey-mug-with-dimples' -->
